<web-app>
<servlet>
<servlet-name>AddProperty</servlet-name>
<servlet-class>com.realestate.controller.AddPropertyServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddProperty</servlet-name>
<url-pattern>/AddPropertyServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ListProperty</servlet-name>
<servlet-class>com.realestate.controller.ListPropertyServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ListProperty</servlet-name>
<url-pattern>/ListPropertyServlet</url-pattern>
</servlet-mapping>
</web-app>